$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
    header{
        background-color: aquamarine;
        color: red;
    }
    section{
        background-color: bisque;
        color: red;
    }
    footer{
        background-color: aqua;
        color: red;
    }
}